/*
内联标签样式 渲染优先级最高
选择器优先级：选择器都一样，下面的样式会覆盖上面的样式
权重： 内联样式>ID选择器>类选择器>元素选择器
*/

h1,div{
    color: green;
    font-size: 48px;
}

#p2{
    color: red;
}

.c1{
    color: black;
    font-size: 30px;
}

/*组合选择器*/


/*后代选择器*/
#d1 p,span{
    color:orange;
    font-size: 25px;
}

/*儿子选择器*/
#d1>p {
    color: green;
}

/*毗邻选择器*/
#d1+p{
    font-size: 40px;
}

/*弟弟选择器*/
div~p{
    color: blue;
}


/*属性选择器*/
[s9]{
    color: red;
    font-size: 50px;
}

[s9="good"]{
    color: greenyellow;
}

